* {
    /* reset CSS */
    margin: 0;
    padding: 0;
}
/* KHAI BAOS BIẾN HTML */
:root {
    --primary-color: #4caf4f;
    --secondary-color: #4d4d4d;
}
body {
    font-family: "Inter", serif;
}
.btn {
    color: white;
    background-color: var(--primary-color);
    border-radius: 4px;
    padding: 10px 22px;
    border: none;
    font-size: 16px;
    display: flex;
    align-items: center;
    gap: 5px;
}
header {
    display: flex;
    justify-content: space-between;
    padding: 22px 130px;
}
/* CSS SELECTOR */
.header-right ul {
    display: flex;
    align-items: center;
    list-style: none;
    gap: 18px;

}
.header-right .header-anchor {
    text-decoration: none;
    color: var(--secondary-color);
}

.banner {
    display: flex;
    justify-content: center;
    align-items: center;
}
.highlight {
    color: #4CAF4F;
    justify-content: flex-start;
}

.banner-left {
    text-align: center;
    padding: 20px;
    justify-content: flex-end;
}

.tittle {
    font-size: 60px;
    font-weight: 600;
    color: #333;
    margin: 0;
    justify-self: flex-start;
}

.text {
    font-size: 20px;
    color: #777;
    margin: 10px 0 20px;
    justify-content: flex-end;
}

.btn {
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 1em;
    color: white;
    background-color: #4CAF50;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
    list-style: none;
}

.banner-right {
    flex: 0 0 auto;
    padding: 20px;
}

fieldset {
    background-color: #fbfbf5;
    list-style: none;   
}